<?xml version='1.0' encoding='utf-8'?>
<plugin id="fr-elliot-tcpsocket" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>PureTcpSocketCordova</name>
    <license>MIT</license>
    <js-module name="PureTcpSocketCordova" src="www/PureTcpSocketCordova.js">
        <clobbers target="TcpSocket" />
    </js-module>
    <platform name="ios">
      <config-file target="config.xml" parent="/*">
        <feature name="PureTcpSocketPlugin">
          <param name="ios-package" value="PureTcpSocketPlugin" onload="true" />
        </feature>
      </config-file>
      <header-file src="src/PureTcpSocketPlugin.h"/>
      <source-file src="src/PureTcpSocketPlugin.m"/>

      <header-file src="src/api/SocketApi.h"/>
      <source-file src="src/api/SocketApi.m"/>

      <header-file src="src/backThreadApi/SocketBackThreadApi.h"/>
      <source-file src="src/backThreadApi/SocketBackThreadApi.m"/>

      <framework src="FastSocket" type="podspec" spec="~> 1.6" />

    </platform>
</plugin>
